<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.qladder.pinefruit">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <meta-data
        android:name="com.google.android.geo.API_KEY"
        android:value="@string/google_maps_key" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/pflogo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/pflogo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ProviderChoiceActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ProviderRegitserConfirmActivity" />
        <activity android:name=".SessionScheduleActivity" />
        <activity android:name=".ProviderInfoActivity" />
        <activity android:name=".SessionListActivity" />
    </application>

</manifest>